Source: cinnamon-desktop-environment
Section: metapackages
Priority: optional
Maintainer: Debian Cinnamon Team <pkg-cinnamon-team@lists.alioth.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>,
           Margarita Manterola <marga@debian.org>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.5
Homepage: http://cinnamon.linuxmint.com/
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-cinnamon/cinnamon-desktop-environment.git
Vcs-Git: git://anonscm.debian.org/pkg-cinnamon/cinnamon-desktop-environment.git

Package: cinnamon-desktop-environment
Architecture: all
Depends: ${misc:Depends},
         cinnamon (>= 2.2)
         cinnamon-control-center (>= 2.2),
         cinnamon-screensaver (>= 2.2),
         cinnamon-session (>= 2.2),
         cinnamon-settings-daemon (>= 2.2),
         muffin (>= 2.2),
         nemo (>= 2.2)
Recommends: cinnamon-bluetooth (>= 3.8),
            cinnamon-translations (>= 2.2)
Description: Meta package for the Cinnamon desktop environment
 This package depends on all needed packages to obtain a complete cinnamon
 installation.
